* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: white;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  max-width: 380px;
  text-align: center;
  padding: 2rem 2rem;
  border-radius: 15px;
  margin-bottom: 1.5rem;
}


.avatar {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.location {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 1.3rem;
}

.bio {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 1.7rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

.btn {
  background-color: hsl(0, 0%, 20%);
  padding: 0.9rem 0;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-size: 14px
}

.btn:hover,
.btn:focus {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

/* Attribution */
.attribution {
  text-align: center;
  font-size: 11px;
  color: white;
  margin-top: 10px;
}

.attribution a {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}