/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* warna dan font global */
body {
  font-family: 'Outfit', Sans-Serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* kartu nama */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 16px;
  width: 320px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.5)
  text-align: center;
}

/* Qr img */
.qr-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* judul */
.card h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
  padding: 0;
}

/* teks/paragraf */
.card p {
  color: hsl(216, 15%, 48%);
  font-weight: 400;
  line-height: 1.4;
  padding: 0 14px 8px;
}

/* atribut */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
  color: hsl(216, 15%, 48%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* responsif */
@media (max-width: 400px) {
  .card {
    width: 90%;
  }
}